body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

form input {
  margin: 0 24px;
  padding: 6px 12px;
  border-radius: 9px;
  border: 1px solid black;
  text-align: center;
  box-shadow: 6px 6px 24px 12px rgba(121, 121, 121, 0.145);
}
img {
  margin: 12px;
  border-radius: 12px;
  box-shadow: 24px 24px 24px 12px rgba(121, 121, 121, 0.145);
}
img:hover {
  box-shadow: 24px 24px 24px 12px rgba(251, 255, 4, 0.419);
}

button {
  margin: 12px;
  border-radius: 9px;
  border: 1px solid black;
  padding: 6px 24px;
  box-shadow: 6px 6px 24px 12px rgba(121, 121, 121, 0.145);
}
